/* ItemListContainer */
.sectionContainer {
  display: flex;
  flex-direction: column;
  padding: 5px 5%;

}

.itemsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}






