/* Div Nabvar */
.nav-bar {
  background: #121212;
  width: 100px;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
}

/* Logo */
.logo {
  display: flex;
  padding: 8px 0;
}

.logo img {
  margin: 0 auto;
  width: 95px;
  height: auto;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* position: absolute; */
  height: 100%;
  width: 100%;
}

nav a {
  font-size: 1rem;
  padding: 0.3rem;

  
  border-radius: 50%;
  font-family: 'Barlow';
  color: white;
  margin: 30px 0;
  text-decoration: none;
  transition: all 0.3s ease-out;

}


nav a:hover {
  transform: scale(1.1);
  background-color: rgb(121, 111, 111);
}

nav a.is-active {
  color: black;
  background-color: aliceblue;
}


